/* active/hover states properties
box-shadow: 0 0 0 0.23rem #c2dbfe;
outline-offset: 0rem;
  outline-style: solid;
  outline-color: #86b7fe;
background-color: #994500;
 */

.container {
  margin: 0;
  height: 78%;
}
.content {
  border: solid 1px #1e2772;
  box-sizing: border-box;
  user-select: none;
  margin: 3%;
  padding: 1% 3%;
  min-height: 80%;
}

.dash-head {
  text-align: center;
  color: #1e2772;
  font-size: 1.3rem;
}

.top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.filtersDiv {
  display: flex;
  user-select: none;
}

.searchDiv {
  display: flex;
  align-items: baseline;
}

.formInp {
  background-color: #e2e1e1;
  border: none;
  border-radius: 7px;
  padding: 5px 12px;
  box-sizing: border-box;
  width: 100%;
}

.formInp:focus {
  outline-offset: 0rem;
  outline-style: solid;
  outline-color: #86b7fe;
  box-shadow: 0 0 0 0.23rem #c2dbfe;
}

input[type="search" i]::-webkit-search-cancel-button {
  appearance: auto;
  display: block;
  cursor: pointer;
  margin-inline-start: 1px;
  margin-right: 3px;
  -webkit-user-modify: read-only !important;
  user-select: none !important;
  flex: 0 0 auto;
  filter: brightness(0%);
}

.exportBtn-div {
  display: flex;
  justify-content: flex-end;
}

.expBtn {
  background-color: #fd7401;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0.5% 1.5%;
  user-select: none;
  margin: 1rem 2rem 0 0;
}

.expBtn:active {
  background-color: #994500;
  box-shadow: 0 0 0 0.23rem #c2dbfe;
  outline-style: solid;
  outline-width: 0.02rem;
  outline-offset: 0rem;
  outline-color: #86b7fe;
  box-shadow: 0 0 0 0.23rem #c2dbfe;
}

.expBtn:hover {
  background-color: #be5500;
}
